page-login {
    .number{
        width: 7rem;
        height: 7rem;
        border-radius: 50%;
        font-size: 3rem;
        border: 2px solid #FFF;
    }
    .zero{
        left:40%;
        top: 85%;
    }
    .one{
        left: 15%;
        top: 40%;
    }
    .two{
        left: 40%;
        top: 40%;
    }
    .three{
        left: 65%;
        top: 40%;
    }
    .four{
        left: 15%;
        top: 55%;
    }
    .five{
        left: 40%;
        top: 55%;
    }
    .six{
        left: 65%;
        top: 55%;
    }
    .seven{
        left: 15%;
        top: 70%;
    }
    .eight{
        left: 40%;
        top: 70%;
    }
    .nine{
        left: 65%;
        top: 70%;
    }
    .clear{
        left: 65%;
        top: 85%;
    }
}
